  
  
<!-- Navbar -->
<nav class="navbar navbar-expand-lg" style="background: rgb(240,255,255)">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-0" href="#" style="margin-left: 50px; border-radius: 10px;">
          <img
            src="https://img.freepik.com/premium-vector/bus-vector_20448-202.jpg?w=740"
            height="70"
            width="120"
            alt="logo"
            loading="lazy"
            
          />
         
        </a>
  
      </div>
      <!-- Collapsible wrapper -->
  
      
   
  
      <!-- Right elements -->
      <div class="d-flex align-items-center">
       
        <!-- Avatar -->
        <div class="dropdown">
          <a
            class="dropdown-toggle d-flex align-items-center hidden-arrow"
            href="#"
            id="navbarDropdownMenuAvatar"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
              class="rounded-circle"
              height="50"
              alt="Black and White Portrait of a Man"
              loading="lazy"
            />
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuAvatar"
          >
            <li>
              <a class="dropdown-item lg" routerLink="/emp-profile">My profile</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Settings</a>
            </li>
            
          </ul>
        </div>
      </div>
           
      <button type="button" class="btn me-3" style="background: rgba(929, 236, 197, 0.6) 100%; margin-left: 30px;" >
        Logout
        </button> 
      <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
  
  <!-- ======================================================================================================================== -->
  
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg" style="background: white">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="#">
          <img
            src=""
            height="50"
           
          />
         
        </a>
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
          <li class="nav-item" style="margin-left: 50px;">
            <a class="nav-link" style="color: black;" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/busschedule" style="color: black;">Schedule</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: black;">Travels</a>
            
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/careers" style="color: black;">Profile</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" routerLink="/about-us" style="color: black;">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about-us" style="color: black;">Contact Us</a>
          </li>
  
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
