
   <!-- footer -->
   <footer class=" text-left text-white" style="background: #32cd32">
    <!-- Grid container -->
    <div class="container p-4 pb-0" >
      <!-- Section: Social media -->
      <section class="mb-0">
        <!-- Facebook -->
        <a class="btn btn-floating me-4 mb-3" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-floating me-4 mb-3" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
        <!-- Linkedin -->
        <a class="btn btn-floating me-4 mb-3 " href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>

          <!-- Copyright -->
    <div class="float-end mt-2 mb-0">
      © 2022 Grocery, All Rights Reserved . Terms Of Use Privacy Policy
    </div>
    <!-- Copyright -->
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
  
  </footer>
