<app-admin-header></app-admin-header>

<div

    class="bg-image bg-opacity-10"
    style="
      background-color:rgb(240,255,255);
      
    "
  >

  <div>
    <h1 style="margin-top: 20px; margin-left: 800px; font-family: fantasy;">Available Bus</h1>
    <ul class="navbar-nav mr-auto">
    
      <li class="nav-item active">

        
 
        <!-- <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style=" margin-left: 200px; margin-top: 50px;width: 300px;">
          Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div> -->
        <!-- <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style=" margin-left: 80px; margin-top: 50px;width: 300px;">
          Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div> -->
        <!-- <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style=" margin-left: 80px; margin-top: 50px;width: 300px;">
          Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div> -->
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0" >
        <input type="search" ngModel (ngModelChange)="searchFares(key.value)" #key="ngModel" style="color:black;"
         name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search employees..." required>
     </form> -->
  </div>

 


  <table class="table table-striped table-hover mt-5 " style=" width: 1500px; margin-left: 200px;">
    <thead style="background: #32cd32; width: 500px;">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Start Location</th>
        <th scope="col">Arriving Location</th>
        <th scope="col">Date</th>
        <th scope="col">Time Period</th>
        <th scope="col">Action</th>
        
      </tr>
    </thead>
    <tbody *ngFor="let busSchedule of busSchedules" id="main-container">
      
      <tr>
        <th scope="row">{{busSchedule?.id}}</th>
        <td>{{busSchedule?.startLocation}}</td>
        <td>{{busSchedule?.arrivingLocation}}</td>
        <td>{{busSchedule?.date}}</td>
        <td>{{busSchedule?.timePeriod}}</td>
        <td>
         <a (click)="onOpenModal(busSchedule, 'edit')" class="btn tooltips" data-placement="top" data-original-title="Edit" style="color: #32cd32; width: 100px; font-size: 15px;">Edit</a>
         <a (click)="onOpenModal(busSchedule, 'delete')" class="btn tooltips" data-placement="top" data-original-title="Delete" style="color: #32cd32; font-size: 15px;">Delete</a>
      </td>
    
      
      </tr>
    </tbody>
    
  </table> 
  
</div>

<div>
  <a (click)="onOpenModal(null, 'add')" class="btn " data-placement="top" data-original-title="add" style="background-color: #00A100; width: 500px; height: 40px; margin-left: 700px; margin-top: 50px; margin-bottom: 50px; height: 45px; font-size: 15px;">Add Bus Schedule</a>
</div>


<!-- Add BusSchedule Modal -->
<div class="modal fade" id="addBusSheduleModal" tabindex="-1" role="dialog" aria-labelledby="addBusScheduleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
     <div class="modal-header">
        <h5 class="modal-title" id="addBusScheduleModalLabel">Bus Schedule</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
     </div>
     <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="OnAddBusSchedule(addForm)" >
        <div class="form-group">
           <label for="startlocation">Start Location</label>
           <input type="text" ngModel name="startLocation" class="form-control" id="startLocation" placeholder="Start Location" required>
        </div>
        <div class="form-group">
           <label for="arrivinglocation">Arriving Location</label>
           <input type="text" ngModel name="arrivingLocation" class="form-control" id="arrivingLocation" placeholder="Arriving Location" required>
        </div>
        <div class="form-group">
           <label for="phone">Date</label>
           <input type="text" ngModel name="date" class="form-control" id="date" placeholder="01-01-2022" required>
        </div>
        <div class="form-group">
           <label for="phone">Time Pireod</label>
           <input type="text" ngModel name="timePeriod" class="form-control" id="timePeriod" placeholder="12.00-01.00" required>
        </div>
        <div class="modal-footer">
           <button type="button" id="add-busschedule-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
           <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
        </div>
        </form>
     </div>
  </div>
</div>
</div>


  <!-- Edit Modal  -->
<div class="modal fade" id="updateBusSheduleModal" tabindex="-1" role="dialog" aria-labelledby="busscheduleEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="updateBusScheduleModalLabel">Edit Bus Schedule {{editBusSchedule?.startLocation}}</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <form #editForm="ngForm">
              <div class="form-group">
                 <label for="name">Start Location</label>
                 <input type="text" ngModel="{{editBusSchedule?.startLocation}}" name="startLocation" class="form-control" id="startLocation" aria-describedby="emailHelp" placeholder="Start Location">
              </div>
              <input type="hidden" ngModel="{{editBusSchedule?.id}}" name="id" class="form-control" id="id" placeholder="Email">
              <input type="hidden" ngModel="{{editBusSchedule?.busNo}}" name="userCode" class="form-control" id="userCode" placeholder="Email">
              <div class="form-group">
                 <label for="email">Arriving Location</label>
                 <input type="email" ngModel="{{editBusSchedule?.arrivingLocation}}" name="arrivingLocation" class="form-control" id="arrivingLocation" placeholder="Arriving Location">
              </div>
              <div class="form-group">
                 <label for="phone">Date</label>
                 <input type="text" ngModel="{{editBusSchedule?.date}}" name="date" class="form-control" id="date" placeholder="Date">
              </div>
              <div class="form-group">
                 <label for="phone">Time Period</label>
                 <input type="text" ngModel="{{editBusSchedule?.timePeriod}}" name="timePeriod" class="form-control" id="timePeriod" name="timePeriod" placeholder="Time Period">
              </div>
              <div class="modal-footer">
                 <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                 <button (click)="onUpdateBusSchedule(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
              </div>
           </form>
        </div>
     </div>
  </div>
</div> 

<!-- Delete Modal -->
 <div class="modal fade" id="deleteBusSheduleModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteModelLabel">Delete Bus Schedule</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <p>Are you sure you want to delete Bus Schedule {{deleteBusShedule?.startLocation}} ?</p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button (click)="onDeleteBusSchedule(deleteBusShedule?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
           </div>
        </div>
     </div>
  </div>
</div> 
<app-footer></app-footer>
