<body>
    <div class="register justify-content-center">
        <img class="d-flex" src="https://img.freepik.com/premium-vector/bus-vector_20448-202.jpg?w=740" height="200" width="250"
            alt="logo" loading="lazy"/>
        <h1 class="text-center">Register</h1>
    </div>
    <div>
        <form>
            <section class="vh-100 bg-image">
                <div class="mask d-flex align-items-center h-100 ">
                    <div class="container h-100">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                                <div class="card" style="border-radius: 15px;">
                                    <div class="card-body p-5">
                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form3Example1cg">Your Name</label>
                                            <i class="fa-solid fa-user"></i><input type="text" id="form3Example1cg"
                                                class="form-control form-control-lg">
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form3Example3cg">Your Email</label>
                                            <i class="fa-regular fa-envelope"></i>
                                            <input type="email" id="form3Example3cg"
                                                class="form-control form-control-lg" />
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form3Example3cg">Your Mobile</label>
                                            <i class="fa-solid fa-phone"></i>
                                            <input type="phone" id="form3Example3cg"
                                                class="form-control form-control-lg" maxlength="10" />
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form3Example4cg">Password</label>
                                            <i class="fa-duotone fa-lock-keyhole"></i>
                                            <input type="password" id="form3Example4cg"
                                                class="form-control form-control-lg" />
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form3Example4cdg">Repeat your
                                                password</label>
                                            <i class="fa-duotone fa-lock-keyhole"></i>
                                            <input type="password" id="form3Example4cdg"
                                                class="form-control form-control-lg" />

                                        </div>

                                        <div class="form-check d-flex justify-content-center mb-5">
                                            <input class="form-check-input me-2" type="checkbox" value=""
                                                id="form2Example3cg" />
                                            <label class="form-check-label" for="form2Example3g">
                                                I agree all statements in <a href="#!" class="text-body"><u>Terms of
                                                        service</u></a>
                                            </label>
                                        </div>






                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="d-flex ">
                <!-- <button type="button"
                class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button> -->
                <button type="button" class="btn btn-success btn-rounded register_btn col-md-3">Back</button>
                <button type="button" class="btn btn-success btn-rounded register_btn2 col-md-3">Register</button>
            </div>

            <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!"
                    class="fw-bold text-body"><u>Login here</u></a></p>
        </form>
    </div>
</body>