<section style="background-color: #eee;">
    <div class="container py-5">

        <div class="row" id="main-container">
            <div class="col-lg-12">
                <div class="card mb-4">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="card mb-4">
                                <div class="card-body text-center">
                                    <img src="https://w0.peakpx.com/wallpaper/107/46/HD-wallpaper-best-pose-for-profile-for-men-profile-pose-men-best-glasses.jpg"
                                        alt="avatar" class="rounded-circle img-fluid" style="width: 150px;"><br /><br />
                                    <button type="button"
                                            class="btn btn-outline-primary ms-1">Upload
                                            Image</button>
                                    <div class="d-flex justify-content-center mb-2">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <h4>
                                                {{fullName}}
                                                <br/><br/>        
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Email</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <div>{{email}}</div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Mobile No</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <div>{{mobile}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card mb-6">
                                <div class="card-body text-center">
                                    <img src="https://www.hellotech.com/guide/wp-content/uploads/2020/05/HelloTech-qr-code-1024x1024.jpg"
                                        alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                                    <div class="d-flex justify-content-center mb-2">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><br />

                    <form #editForm="ngForm">
                        <div class="row">
                            <div class="col-sm-5 col-md-6">
                                <label for="name">Email</label>
                                <input type="email" ngModel="{{email}}" name="email" class="form-control"
                                    id="email" aria-describedby="emailHelp" placeholder="Email">
                            </div>
                            <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
                                <label for="email">Full Name</label>
                                <input type="text" ngModel="{{fullName}}" name="fullName"
                                    class="form-control" id="fullName" placeholder="Full Name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-5 col-lg-6">
                                <label for="course">Mobile No</label>
                                <input type="text" ngModel="{{mobile}}" name="mobile" class="form-control"
                                    id="mobile" placeholder="Mobile No">
                            </div>
                            <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
                                <label for="phone">Password</label>
                                <input type="password" ngModel="{{password}}" name="password"
                                    class="form-control" id="phone" placeholder="Password">
                            </div>
                        </div><br />
                        <div class="col-md-12 text-center">
                            <button (click)="onUpdatePassenger(editForm.value)" class="btn btn-success">Save</button>
                        </div><br />
                    </form>
                </div>
            </div>
                
                <div class="col-md-12 text-center">
                    <button (click)="onOpenModal('add')" id="credit-form" type="submit" class="btn btn-success">Add Credit</button>
                    <div>{{credit}}</div>
                </div><br />

            <div class="modal fade" id="addCreditModal" tabindex="-1" role="dialog" aria-labelledby="addCreditModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Add Credit</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form #creditForm="ngForm" (ngSubmit)="onAddCredit(creditForm)">
                        <div class="form-group">
                          <label for="accNo">Account No</label>
                          <input type="text" ngModel name="accNo" class="form-control" id="accNo" placeholder="" required>
                        </div>
                        <br/>
                        <div class="form-group">
                          <label for="credit">Credit Amount</label>
                          <input type="text" ngModel name="credit" class="form-control" id="credit" placeholder="" required>
                        </div>
                        <div class="modal-footer">
                          <button type="button" id="add-credit-form" class="btn btn-light" data-dismiss="modal">Close</button>
                          <button [disabled]="creditForm.invalid" type="submit" class="btn btn-success">Save Changes</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

        </div>
    </div>
</section>